span:first-child{
    color:red;
}
span:first-of-type{
   font-size: 20px;
}
p:first-line{
    color:rgb(0, 81, 255);
}
p:first-letter{
    font-size: 24px;
}
span:only-child{
    border: 2px solid rosybrown;
}
span:nth-of-type(3){
    background: hotpink;
}
/** 巧用伪类添加一些点缀，或标点符号， 使用:not(:last-child)排除最后一个元素*/
span:not(:last-child):after {
    content: ',';
}